NEXT_PUBLIC_FEATURE_STORIES_PAGE=false
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_api_key
NEXT_PUBLIC_GOOGLE_PLACE_ID=your_google_place_id
EH_ORG_ID=your_employment_hero_org_id
EH_ATS_TOKEN=your_employment_hero_ats_token
STRIPE_SECRET_KEY=your_stripe_secret_key
